{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ikigega system</title>
    <link rel="icon" type="icon/jpg"  href="{% static 'image/rice.jpg' %}" >
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- boosttrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>

/* body {
  background-image: url("{% static 'image/tea.jpeg' %}" );
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
 
} */

/* .topnav .icon {
  display: none;
} */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

</style>

<script>
  $(document).ready(function(){
    $("#open").click(function(){
      $("#show").toggle();
    });
  });
  </script>
<body >
<!-- navbar -->
<div class="bg-indigo-300 fixed-top shadow">
<nav class="flex w-full px-2">
  <a href="/" class="py-2">
      <img src="{% static 'image/agribusiness.jpg' %}" class="w-32 rounded" alt="Ikigega">
  </a>
  
  <button type="button"  class="w-full block md:hidden lg:hidden" id="open">
    <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" fill="currentColor" class="float-right bi bi-filter-right" viewBox="0 0 16 16">
      <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
    </svg>
  </button>



  <div class="hidden md:block lg:block w-full  " >
    <div class="flex flex-wrap w-full">
      <div class="w-2/6  ">
<div class="flex gap-8 px-3  py-4 ">
         <div class="w-1/4 " >

          <a href="/" class="  text-gray-700 font-medium hover:text-gray-900 hover:no-underline">Home</a>
         </div> 
         <div  class="w-1/4">

          <a href="{% url 'work' %}" class="  text-gray-700 font-medium hover:text-gray-900 hover:no-underline">About</a>
         </div>
         <div class="w-1/4">
          <a href="{% url 'adminsignin' %}" class="  text-gray-700 font-medium hover:text-gray-900 hover:no-underline "> Sign In</a>
         </div>
         
        </div>
      </div>
      <div class="w-2/6"></div>
      <div class="w-2/6">
        <div class="w-full gap-2 px-2 py-3">
        <a href="{% url 'loanpage' %}"class=" float-right hover:bg-white py-2 text-gray-700 font-medium hover:text-gray-900 hover:no-underline border-2 border-gray-100 px-4 rounded">Ikigega Loan</a>
        <a href="{% url 'insurancepage' %}"class=" float-right hover:bg-white py-2 text-gray-700 font-medium hover:text-gray-900 hover:no-underline border-2 border-gray-100 px-4 rounded">Insurance</a>
      </div>
      </div>
  </div>
</div>


</nav>

  <div class="hidden md:hidden lg:hidden  w-full" id="show"  >
    <div class=" gap-8 px-2 mb-4 ">
      <div class="w-full py-1"> 
        <a href="/" class=" w-full md:w-auto py-4 text-gray-700 font-medium hover:text-gray-900 hover:no-underline">Home</a>
        </div>
        <div class="w-full py-1">
        <a href="{% url 'work' %}" class=" py-4 text-gray-700 font-medium hover:text-gray-900 hover:no-underline">About</a></div>
        
      <div class="w-full py-1">
        <a href="{% url 'adminsignin' %}" class=" py-4 text-gray-700 font-medium hover:text-gray-900 hover:no-underline ">Signin</a>
      </div>
    </div>
    <div class="navbar-nav">
       <div><a href="{% url 'loanpage' %}"class=" float-right hover:bg-white py-2 text-gray-700 font-medium hover:text-gray-900 hover:no-underline border-2 border-gray-100 px-4 rounded">Ikigega Loan</a></div> 
       <br/>
      <div><a href="{% url 'insurancepage' %}"class=" float-right hover:bg-white py-2 text-gray-700 font-medium hover:text-gray-900 hover:no-underline border-2 border-gray-100 px-4 rounded">Insurance</a></div> 
    </div>
</div>






</div>