{% include 'base.html' %}
{% load static %}<!-- Three columns -->
<div class="flex shadow-lg">
    <div class="w-1/6 block md:hidden">
        <button type="button" id="modalbtn" class="btn block md:hidden" data-toggle="modal" data-placement="left" data-target="#exampleModalLong">
        <ion-icon class="text-4xl " name="reorder-four-sharp"></ion-icon>
    </button>
    
    
<div id="simplemodal" class="modal">
        <div class="modal-content  h-full">
            <span id="closeBtn" class="closeBtn ml-32 ">
            <ion-icon class=" text-3xl  ml-20 floart-right mt-4" name="close"></ion-icon></span>
            <nav class="mt-2">
              <a class="flex items-center py-2 px-8 block bg-gray-700 text-gray-100 border-r-4 border-gray-100" href="{% url 'dashboard' %}">
                <span class="text-white text-2xl"><ion-icon  name="home-outline"></ion-icon> </span>
        
                  <span class="mx-4 font-medium">Home</span>
              </a>
        
              <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'recorderadd' %}">
                <ion-icon class="text-2xl" name="people-outline"></ion-icon>
        
                  <span class="mx-4 font-medium">add Recorder</span>
              </a>
              <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'regfarmpage' %}">
                <ion-icon class="text-2xl" name="list-outline"></ion-icon>
        
        
                  <span class="mx-4 font-medium">add farmer</span>
              </a>
              <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'dashboard' %}">
                <ion-icon class="text-2xl" name="list-outline"></ion-icon>
        
        
                  <span class="mx-4 font-medium">Report</span>
              </a>
        
              <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'regfarmpage'%}">
                <ion-icon class="text-2xl" name="search-outline"></ion-icon>
        
                  <span class="mx-4 font-medium">Codes</span>
              </a>
              <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'work'%}">
                <ion-icon class="text-2xl" name="person-outline"></ion-icon>
                <span class="mx-4 font-medium">Users</span>
            </a>

            <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'regfarmpage' %}">
              <ion-icon class="text-2xl" name="people-outline"></ion-icon>
      
                <span class="mx-4 font-medium">List of Member</span>
            </a>

           
        
            <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'recorderadd'%}">
              <ion-icon class="text-2xl" name="person-add-outline"></ion-icon>
        
              <span class="mx-4 font-medium">Add User</span>
          </a>

          <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'regfarmpage'%}">
            <ion-icon class="text-2xl" name="person-add-outline"></ion-icon>
      
            <span class="mx-4 font-medium">Edit User</span>
        </a>

      
        
          <a class="flex items-center mt-5 py-2 px-8 block text-gray-700 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100"  href="{% url 'logout'%}" >
         
              <ion-icon class="text-2xl text-white" name="log-out-outline"></ion-icon>
        
            <span class="mx-4 font-medium">Logout</span>
        </a>
          </nav>
       </div>

</div>
           </div>

    
    <div class="w-2/6"> 
      {% load static %}
      <img src="{% static 'image/wheat.jpg'%}" class="h-12 w-32 justify-center ml-2 md:ml-12"/>      </div>



    <div class="w-2/6 block md:hidden">



      <button type="button" class="float-right btn-group  " role="group" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > 
        {% for dt in prof %}
        <span class="group"><img src="{{dt.image.url}}" class="w-12 h-12 rounded-full  "/>
        
        
      {%endfor%}
      </button>



   </div>
  </div>




  <div class="grid grid-cols-5 h-full ">
        <div class="w-full  bg-gray-800  sm:mt-0 hidden md:block">
          <div class="flex items-center justify-center ">
            {% for dt in prof %}
            <img src="{{dt.image.url}}" class="w-24 h-24 rounded-full mt-4 "/>
          
          {%endfor%}
          </div>
        
          <nav class="mt-2 ">
              <a class="flex items-center py-2 px-8 block bg-gray-700 text-gray-100 border-r-4 border-gray-100" href="{% url 'dashboard'%}">
                <span class="text-white text-2xl"><ion-icon  name="home-outline"></ion-icon> </span>
        
                  <span class="mx-4 font-medium">Home</span>
              </a>
        
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'regfarmpage'%}">
                <ion-icon class="text-2xl" name="people-outline"></ion-icon>
        
                  <span class="mx-4 font-medium">Add farmer</span>
              </a>
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'recorderadd' %}">
                <ion-icon class="text-2xl" name="people-outline"></ion-icon>
        
                  <span class="mx-4 font-medium">Add Recorder</span>
              </a>
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'recorderadd' %}">
                <ion-icon class="text-2xl" name="people-outline"></ion-icon>
        
                  <span class="mx-4 font-medium">List of farmers</span>
              </a>
        
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'regfarmpage'%}">
                <ion-icon class="text-2xl" name="list-outline"></ion-icon>
        
        
                  <span class="mx-4 font-medium">Report</span>
              </a>
        
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'dashboard'%}">
                <ion-icon class="text-2xl" name="search-outline"></ion-icon>
        
                  <span class="mx-4 font-medium">Codes</span>
              </a>
              <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'work'%}">
                <ion-icon class="text-2xl" name="person-outline"></ion-icon>
                <span class="mx-4 font-medium">Recorders</span>
            </a>


            <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'recorderadd'%}">
              <ion-icon class="text-2xl" name="person-add-outline"></ion-icon>
        
              <span class="mx-4 font-medium">Add User</span>

          </a>

          <a class="flex items-center mt-2 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100" href="{% url 'recorderadd'%}">
            
            <ion-icon class="text-2xl" name="create-outline"></ion-icon>
            <span class="mx-4 font-medium">Edit User</span>
        </a>



          <a class="flex items-center  mt-2 mb-6 py-2 px-8 block text-gray-100 border-r-4 border-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:border-gray-100"  href="{% url 'logout'%}" >
         
              <ion-icon class="text-2xl text-white" name="log-out-outline"></ion-icon>
        
            <span class="mx-4 font-medium ">Logout</span>
        </a>
          </nav>
        
        </div>


        <div class="col-span-5 sm:col-sm-5 md:col-span-4  p-2  justify-center">

            <div class="md:ml-64">
  
      {% for message in messages %}
      {% if message %}
      <div class="">
      <div class="w-auto md:mt-12 text-center bg-red-100 border border-red-400 text-red-900 px-4 py-4 rounded " role="alert">
          <span class="block sm:inline">{{message}}</span>
        </div>
      </div>
      {%endif%}
      {%endfor%}
  
  
      {% if mess %}
      <div class="">
      <div class="w-auto md:mt-12 text-center bg-green-100 border border-green-400 text-green-900 px-4 py-4 rounded " role="alert">
          <span class="block sm:inline">{{mess}}</span>
        </div>
      </div>
      {%endif%}
  
      <form class="bg-white max-w-lg shadow-md" method="POST" action="{% url 'editpro'%}" >
          {% csrf_token %}
            <div class="flex flex-wrap  mb-1 mt-4 ">
             
             
              <div class="w-full px-2  ">
                <label class="block uppercase  text-gray-700 text-xs block uppercase tracking-wide text-xs font-bold mb-2" for="grid-password">
               Cooperative Name / Username
                </label>
            <input value="{{request.user}}" class="form-control" id="grid-password" name="email" type="text" placeholder="jambo@gmail.com">
            <div class="w-full px-2">
                <label class="block uppercase tracking-wide text-xs font-bold block text-gray-700 text-sm font-bold mb-2" for="password">
                  Current Password
                </label>
              
                <input class="form-control" id="t" name="password" type="password" placeholder="******************">
               
              
              </div>
                <div class="w-full px-2">
                    <label class="block uppercase tracking-wide text-xs font-bold block text-gray-700 text-sm font-bold mb-2" for="password">
                      New Password
                    </label>
                    <input  class="form-control" id="password" name="pass1" type="password" placeholder="******************">
                        </div>
        </div>
              <div class="justify-end px-3 py-3 mb-3">
                  <div class="flex items-center justify-between ">
                      <button class="bg-red-700 hover:bg-blue-700 float-right  text-white float-right  text-gray-700 mb-6 font-semibold hover:text-blue-700 py-2 mr-12 px-8 border border-blue-500 hover:border-transparent shadow-lg rounded" type="submit">
                       Update 
                      </button>
              </div>
            </div>
            
          </form>
  
  
  </div>
  
  
    </div>
    <center>{% include 'footer.html' %}
    </center>
  </div>    