{% include 'sidenav.html' %}
{% load static %}<!-- Three columns -->
    <div class=" col-span-4 w-full justify-center">
        <div class="container mt-8">
            <p class="px-4 text-gray-700 text-2xl font-bold ">Recent harvest Records</p>
            <table id="example" class="">
              <thead>
                <tr>
                   <th>Recorder</th>
                    <th>Farmercode</th>
                    <th>Quantity</th>
                    <th>Telephone</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
              </thead>
    
    
              <tbody>
                            {% for dt in hinz %}
                <tr>
                  <td class="capitalize"> {{dt.recorder}}</td>
                  <td class="capitalize"> {{dt.regCooperative}}</td>
                  <td >{{dt.Quantity}} </td>
                  <td class="capitalize">{{dt.farmercode}}</td>
                  <td>{{dt.telephone}}</td>
                  <td>{{dt.donetime}}</td>
                  <!-- <td>{{dt.gender}}</td> -->
                
                </tr>
              {%endfor%}
              </tbody>
            </table>




    





          















    
        </div>