{% include 'sidenav.html' %}
{% load static %}<!-- Three columns -->

  
    <div class=" col-span-4 w-full justify-center">
        <div class="container mt-8">
            <p class="px-4 text-gray-700 text-2xl font-bold ">Farmers List</p>
            <table id="example" class="">
              <thead>
                <tr>
                   <th>Cooperative</th>
                    <th>Firstname</th>
                    <th>Code</th>
                    <th>Telphone</th>
                    <th>District</th>
                    <th>Village </th>
                    <th>gender</th>
                </tr>
              </thead>
    
              <!-- <tfoot>
                <tr>
                  <th>Recorder</th>
                  <th>Firstname</th>
                  <th>Code</th>
                  <th>Telephone</th>
                  <th>Quantity</th>
                  <th>Date </th>
                  <th>Time</th>
                                  </tr>
              </tfoot> -->
    
              <tbody>
                            {% for dt in farm %}
                <tr>
                  <td class="capitalize"> {{dt.regCooperative}}   </td>
                  <td class="capitalize"> {{dt.firstname}}   </td>
                  <td >{{dt.farmercode}}</td>
                  <td class="capitalize">{{dt.telephone}}</td>
                  <td>{{dt.email}}</td>
                  <td>{{dt.sector}}</td>
                  <td>{{dt.gender}}</td>
                
                </tr>
              {%endfor%}
              </tbody>
            </table>




    





          















    
        </div>