{% include 'sidenav.html' %}
{% load static %}<!-- Three columns -->
    <div class=" col-span-4 w-full justify-center">
        <div class="container mt-8">
            <p class="px-4 text-gray-700 text-2xl font-bold ">Farmers List</p>
            <table id="example" class="">
              <thead>
                <tr>
                   <th>Cooperative</th>
                   <th>Name</th>
                   <th>Telephone</th>
                </tr>
              </thead>
    
            
    
             <tbody>
                          {% for dt in Rec %}
                <tr>  
                  <td class="capitalize"> {{dt.regCooperative}}</td> 
                  <td class="capitalize"> {{dt.username}}</td>
                  <td class="capitalize"> {{dt.telephone}}</td>
                  <!-- <td >{{dt.type}} </td> -->
                  <!-- <td class="capitalize">{{dt.phone}}</td>
                  <td>{{dt.Password}}</td> -->
                  <!-- <td>{{dt.sector}}</td>
                  <td>{{dt.gender}}</td> -->
                
                </tr>
              {%endfor%}
              </tbody>
            </table>




    





          















    
        </div>