{% include 'base.html' %}
{% load static %}<!-- Three columns -->
<div class="flex shadow-lg">
    <div class="w-1/6 block md:hidden">
        <button type="button" id="modalbtn" class="btn block md:hidden" data-toggle="modal" data-placement="left" data-target="#exampleModalLong">
        <ion-icon class="text-4xl " name="reorder-four-sharp"></ion-icon>
    </button>
    
    
<div id="simplemodal" class="modal">
        <div class="modal-content  h-full">
            <span id="closeBtn" class="closeBtn ml-32 ">
            <ion-icon class=" text-3xl  ml-20 floart-right mt-4" name="close"></ion-icon></span>
            <nav class="mt-2">
              <div class="flex p-8">
                <div class="w-full md:w-1/5 bg-gray-700 p-6">
                 <div class="flex">
                <div class=""><a href="{% url 'record' %}"class=" uk-icon-button uk-margin-small-right" uk-icon="home"></a></div>
        <div class=""><a href="{% url 'record' %}">Home</a></div>
               </div>
               <div class="flex py-4">
                   <div class=""><a href="{% url 'cooaddfarmer' %}" class=" uk-icon-button uk-margin-small-right" uk-icon="file-text"></a></div>
           <div class=""><a href="{% url 'cooaddfarmer' %}">My records</a></div>
                  </div>
                  <!-- <div class="flex py-4">
                   <div class=""><a href="{% url 'recorderadd' %}" class=" uk-icon-button uk-margin-small-right" uk-icon="user"></a></div>
           <div class=""><a href="{% url 'recorderadd' %}">Add Recorder</a></div>
                  </div> -->
                  <div class="flex py-4">
                   <div class=""><a href="{% url 'logout'%}" class=" uk-icon-button uk-margin-small-right" uk-icon="sign-out"></a></div>
           <div class=""><a href="{% url 'logout'%}">Logout</a></div>
                  </div>
               </div>
          </nav>
       </div>

</div>
           </div>

    
    <div class="w-2/6"> 
      {% load static %}
      <img src="{% static 'image/wheat.jpg'%}" class="h-12 w-32 justify-center ml-2 md:ml-12"/>      </div>



    <div class="w-2/6 block md:hidden">



      <button type="button" class="float-right btn-group  " role="group" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > 
        {% for dt in prof %}
        <span class="group"><img src="{{dt.image.url}}" class="w-12 h-12 rounded-full  "/>
        
        
      {%endfor%}
      </button>



   </div>
  </div>




  <div class="grid grid-cols-5 h-full py-6 ">
        <div class="w-full sm:mt-0 bg-gray-700 hidden md:block">
          <div class="flex items-center justify-center ">
            {% for dt in prof %}
            <img src="{{dt.image.url}}" class="w-24 h-24 rounded-full mt-4 "/>
          
          {%endfor%}
          </div>
        
          <nav class="mt-2">
            <div class="flex p-8">
              <div class="w-full md:w-1/5 bg-gray-700 p-6">
               <div class="flex">
              <div class=""><a href="{% url 'record' %}"class=" uk-icon-button uk-margin-small-right" uk-icon="home"></a></div>
      <div class=""><a href="{% url 'record' %}">Home</a></div>
             </div>
             <div class="flex py-4">
                 <div class=""><a href="{% url 'cooaddfarmer' %}" class=" uk-icon-button uk-margin-small-right" uk-icon="file-text"></a></div>
         <div class=""><a href="{% url 'cooaddfarmer' %}">My records</a></div>
                </div>
                <div class="flex py-4">
                 <div class=""><a href="{% url 'logout'%}" class=" uk-icon-button uk-margin-small-right" uk-icon="sign-out"></a></div>
         <div class=""><a href="{% url 'logout'%}">Logout</a></div>
                </div>
             </div>
        </nav>
        
        </div>
  
      
      <!-- end of navbar -->


      <!-- form -->


    <!--Grid row-->
    <div class="row d-flex justify-content-center p-4">

      <!--Grid column-->
      <div class="col-md-6">

        <!-- Default form contact -->
        <p class="alert alert-warning">{{message}}</p>
        <form action="{% url 'recording' %}" method="POST">
         <h3 class="font-weight-bold mb-4">Record</h3>

          <!-- Name -->
          {%csrf_token %}
          <label for="quantity">quantity</label>
          <!-- Email -->
          <input type="text" id="defaultContactFormLocation" class="form-control mb-4" name="Quantity" placeholder="quantity">
     
          <label for="farmercode">farmercode</label>
          <input type="text" id="defaultContactForm" name="farmercode" class="form-control mb-4" placeholder="farmercode">
          
          <label for="farmercode">Recorder</label>
          <input type="text" id="defaultContactForm" name="recorder" class="form-control mb-4" placeholder="username">
         
          <!-- Message -->
          <div class="form-group">

          <!-- Copy -->

          <!-- Send button -->
          <button class="btn btn-info btn-block" name="submit" type="submit">Record</button>

        </form>
    </div>
</div>
  
   
  <!-- Footer -->
  <!-- boostrap js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <!-- uikit js -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
  <!-- aos js -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
          AOS.init();
      </script>

</body>
</html>