{% include 'base.html' %}
{% load static %}<!-- Three columns -->
<div class="flex shadow-lg">
    <div class="w-1/6 block md:hidden">
        <button type="button" id="modalbtn" class="btn block md:hidden" data-toggle="modal" data-placement="left" data-target="#exampleModalLong">
        <ion-icon class="text-4xl " name="reorder-four-sharp"></ion-icon>
    </button>
    
    
<div id="simplemodal" class="modal">
        <div class="modal-content  h-full">
            <span id="closeBtn" class="closeBtn ml-32 ">
            <ion-icon class=" text-3xl  ml-20 floart-right mt-4" name="close"></ion-icon></span>
            <nav class="mt-2">
              <div class="flex p-8">
                <div class="w-full md:w-1/5 bg-gray-700 p-6">
                 <div class="flex">
                <div class=""><a href="{% url 'dashboard' %}"class=" uk-icon-button uk-margin-small-right" uk-icon="home"></a></div>
        <div class=""><a href="{% url 'dashboard' %}">Home</a></div>
               </div>
               <div class="flex py-4">
                   <div class=""><a href="{% url 'cooaddfarmer' %}" class=" uk-icon-button uk-margin-small-right" uk-icon="users"></a></div>
           <div class=""><a href="{% url 'cooaddfarmer' %}">Add Farmer</a></div>
                  </div>
                  <div class="flex py-4">
                   <div class=""><a href="{% url 'recorderadd' %}" class=" uk-icon-button uk-margin-small-right" uk-icon="user"></a></div>
           <div class=""><a href="{% url 'recorderadd' %}">Add Recorder</a></div>
                  </div>
                  <div class="flex py-4">
                   <div class=""><a href="{% url 'logout'%}" class=" uk-icon-button uk-margin-small-right" uk-icon="sign-out"></a></div>
           <div class=""><a href="{% url 'logout'%}">Logout</a></div>
                  </div>
               </div>
          </nav>
       </div>

</div>
           </div>

    
    <div class="w-2/6"> 
      {% load static %}
      <img src="{% static 'image/wheat.jpg'%}" class="h-12 w-32 justify-center ml-2 md:ml-12"/>      </div>



    <div class="w-2/6 block md:hidden">



      <button type="button" class="float-right btn-group  " role="group" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > 
        {% for dt in prof %}
        <span class="group"><img src="{{dt.image.url}}" class="w-12 h-12 rounded-full  "/>
        
        
      {%endfor%}
      </button>



   </div>
  </div>




  <div class="grid grid-cols-5 h-full py-6 ">
        <div class="w-full sm:mt-0 bg-gray-700 hidden md:block">
          <div class="flex items-center justify-center ">
            {% for dt in prof %}
            <img src="{{dt.image.url}}" class="w-24 h-24 rounded-full mt-4 "/>
          
          {%endfor%}
          </div>
        
          <nav class="mt-2 ">
            <div class="flex p-8">
              <div class="w-full md:w-1/5  p-6">
               <div class="flex">
              <div class=""><a href="{% url 'dashboard' %}"class=" uk-icon-button uk-margin-small-right" uk-icon="home"></a></div>
      <div class=""><a href="{% url 'dashboard' %}">Home</a></div>
             </div>
             <div class="flex py-4">
                 <div class=""><a href="{% url 'cooaddfarmer' %}" class=" uk-icon-button uk-margin-small-right" uk-icon="users"></a></div>
         <div class=""><a href="{% url 'cooaddfarmer' %}">Add Farmer</a></div>
                </div>
                <div class="flex py-4">
                 <div class=""><a href="{% url 'recorderadd' %}" class=" uk-icon-button uk-margin-small-right" uk-icon="user"></a></div>
         <div class=""><a href="{% url 'recorderadd' %}">Add Recorder</a></div>
                </div>
                <div class="flex py-4">
                 <div class=""><a href="{% url 'logout'%}" class=" uk-icon-button uk-margin-small-right" uk-icon="sign-out"></a></div>
         <div class=""><a href="{% url 'logout'%}">Logout</a></div>
                </div>
             </div>
          </nav>
        
        </div>
  